@import '../../Variables/Variables.sass'

.SearchBar
  border-radius: 20px
  color-scheme: $white
  display: flex
  justify-content: center
  align-items: center
  background-color: $white
  width: 246px
  height: 48px
  overflow: hidden

  & > input
    border: none
    outline: none

.SearchBar__button:hover
  cursor: pointer
  size: 20px
